node_modules/
dist/
*.tgz
.env
*.pem
*.key
*.crt
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage/
/.parcel-cache
/.cache
node_modules.old_*/
**/node_modules.old_*/
/.DS_Store
.vscode/
.idea/
*.log
*.local
private-keys/
secrets/
/.env.*
!.gitkeep
